{% extends 'base.html' %}

{% block title %}
Create Profile Page
{% endblock  %}

{%if user.is_authenticated%}
    {% block content %}
    <h1>Create Profile Page</h1></br>
    {%load crispy_forms_tags %}
    <form method ='post' enctype ="multipart/form-data">
    {% csrf_token %}

    
    {{form|crispy }}
    <button class = 'btn btn-secondary'>Create Profile Page</button>



    </br></br>
    <script>
        var name = "{{user.id}}";
        document.getElementById("author").value = name;
    </script>


    {% endblock %}
{% else %}
    <p>Login <a href = '/login'>Here</a></p>
{% endif %}


{% block contact %}
{% endblock  %}