{%load static%}
<!DOCTYPE html>

<html>
<head>
<title>{{user.first_name}} {{user.last_name}} - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Joe Bloggs."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="{% static 'CVGEN/css/style.css'%}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel="{% static 'CVGEN/css/style.css'%}" type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			{%if user.profile.profile_pic%}	
				<img src="{{user.profile.profile_pic.url}}" alt="headshot" width="300" height="300" />
			{% else %}
				<img src="{% static 'CVGEN/images/headshot.jpg'%}" alt="headshot" />
			{% endif %}
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">{{user.first_name}} {{user.last_name}}</h1>
			
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>E-mail: <a href="{{user.email}}" target="_blank">{{user.email}}</a></li>

				{% if user.profile.github %}
					<li>GitHub: <a href="{{user.profile.github}}">{{user.first_name}}'s Github</a></li>
				{% endif %}

				{% if user.profile.linkedin %}
					<li>LinkedIn: <a href="{{user.profile.linkedin}}" >{{user.first_name}}'s LinkedIn</a></li>
				{% endif %}

				{% if user.profile.website%}
					<li>Website: <a href="{{user.profile.website}}">{{user.first_name}}'s website</a></li>
				{% endif %}

				{% if user.profile.phone %}
					<li>Phone: {{user.profile.phone}}</li>
				{% endif %}
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		{% if user.profile.bio %}
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>
				
				<div class="sectionContent">
					<p>{{user.profile.bio}}</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		{% endif %}

		{% if user.profile.experience.all%}
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			{% for experience in user.profile.experience.all %}
			<div class="sectionContent">
				<article>
					<h2>{{experience.job_name}}</h2>
					<p class="subDetails">{{experience.start_date}} - {{experience.end_date}}</p>
					<p>{{experience.description}}</p>
				</article>
			{% endfor %}	

			</div>
			<div class="clear"></div>
		</section>
		{% endif %}
		{% if user.profile.skills.all %}
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
				{% for skill in user.profile.skills.all %}
					<li>{{skill.skill}}</li>
					
				</ul>
			</div>
			{% endfor %}
			<div class="clear"></div>
		</section>
		{% endif %}

		{% if user.profile.education.all %}
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			<div class="sectionContent">
				{% for education in user.profile.education.all %}
					<article>
						<h2>{{education.school_name}}</h2>
						<p class="subDetails">{{education.start_date}} - {{education.end_date}}</p>
						<p>{{education.description}}</p>
					</article>
				

				{% endfor %}
			</div>
			<div class="clear"></div>
		</section>
		{% endif %}
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>