{% extends 'base.html' %}

{% block title %}
Add post
{% endblock  %}

{%block logged%}
<h1>Add post</h1></br>
{%load crispy_forms_tags %}
<form method ='post' enctype ="multipart/form-data">
{% csrf_token %}

{{form.media}}
{{form|crispy }}
<button class = 'btn btn-secondary'>Post</button>



</br></br>
<script>
    var name = "{{user.id}}";
    document.getElementById("author").value = name;
</script>
{% endblock %}

{% block loggedoff %}
<p>Login <a href = '/login'>Here</a></p>
{% endblock  %}


{% block contact %}
{% endblock  %}