{% extends 'base.html' %}
{%block content%}
  {% if category_post%}
  <h1>Category</h1>
  <h2>{{ cats }}</h2>



  <ul>
  <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="band">
    {% for post in category_post%}
      <li> 
      <a href = "{%url 'detailed_view' post.pk %}">{{post.title}}</a>
      - {{post.author.first_name}} {{post.author.last_name}}<br/>
    {% endfor %}
  </div>
  </ul>
  {%else%}
   <h2> Category {{cats}} is empty or don't exists</h2> 
{% endif %}
{% endblock %}